Resources: 
  AWSEBAutoScalingGroup: 
    Metadata: 
      "AWS::CloudFormation::Authentication": 
        S3Auth: 
          buckets: 
            - elasticbeanstalk-ap-southeast-1-323072308060
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
          type: s3
files:
  /root/.ssh/aws-eb:
    authentication: S3Auth
    mode: "000600"
    owner: root
    group: root
    source: "https://elasticbeanstalk-ap-southeast-1-323072308060.s3-ap-southeast-1.amazonaws.com/aws-eb"
  /root/.ssh/config: 
    mode: "000600"
    owner: root
    group: root
    content: |
      Host github.com
        IdentityFile /root/.ssh/aws-eb
        IdentitiesOnly yes
        UserKnownHostsFile=/dev/null
        StrictHostKeyChecking no