container_commands:
    00create_pre_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
        ignoreErrors: true
    01create_automate_branch_switching_file:
        command: |
            echo "
                #!/usr/bin/env bash
                echo Current stage: $STAGE
                if [ \"${STAGE}\" = \"production\" ]; then
                    sed -i -e 's/dummy-package.git/dummy-package.git#production/g' /tmp/deployment/application/package.json
                elif [ \"${STAGE}\" = \"test\" ]; then
                    sed -i -e 's/dummy-package.git/dummy-package.git#poc/g' /tmp/deployment/application/package.json
                else
                    sed -i -e 's/dummy-package.git/dummy-package.git/g' /tmp/deployment/application/package.json
                fi
            " >/opt/elasticbeanstalk/hooks/appdeploy/pre/50auto_switch_branch.sh
    02give_execute_permission:
        command: chmod 000755 /opt/elasticbeanstalk/hooks/appdeploy/pre/50auto_switch_branch.sh