container_commands:
    00create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
        ignoreErrors: true
    01create_preinstall:
        command: |
            echo "
                #!/usr/bin/env bash
                if [ \"${STAGE}\" = \"production\" ]; then
                    sed -i -e 's/winston.git/winston.git#winston1/g' /tmp/deployment/application/package.json
                elif [ \"${STAGE}\" = \"test\" ]; then
                    sed -i -e 's/winston.git/winston.git#winston2/g' /tmp/deployment/application/package.json
                else
                    sed -i -e 's/winston.git/winston.git/g' /tmp/deployment/application/package.json
                fi
            " >/opt/elasticbeanstalk/hooks/appdeploy/pre/00preinstall.sh
    02give_execute_permission:
        command: chmod 000755 /opt/elasticbeanstalk/hooks/appdeploy/pre/00preinstall.sh