container_commands:
    00create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
    01create_automate_test_file:
        command: |
            echo "
                #!/usr/bin/env bash
                if [ \"${ENVIRONMENT}\" == \"PROD\" ]; then
                    curl -X POST --header \"Content-Type: application/json\" -d '{\"build_parameters\": {\"CIRCLE_JOB\": \"test\"}}' https://circleci.com/api/v1.1/project/github/${GITHUB_USER}/${PROJECT_NAME}/tree/master?circle-token=${CIRCLE_CI_TOKEN}
                fi
            " >/opt/elasticbeanstalk/hooks/appdeploy/post/99_automate_test.sh
    02give_execute_permission:
        command: chmod 000755 /opt/elasticbeanstalk/hooks/appdeploy/post/99_automate_test.sh