commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_automate_test.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            if [ "$1" == "LATEST"]; then
                curl -X POST --header "Content-Type: application/json" -d '{"build_parameters": {"CIRCLE_JOB": "test"}}' https://circleci.com/api/v1.1/project/github/$2/$3/tree/master?circle-token=$4
            fi
container_commands:
    automate_test:
        command: /opt/elasticbeanstalk/hooks/appdeploy/post/99_automate_test.sh $ENVIRONMENT $GITHUB_USER $PROJECT_NAME $CIRCLE_CI_TOKEN